<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature
        android:glEsVersion="0x00030002"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sensor.gyroscope"
        android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/spyhunt_icon"
        android:roundIcon="@drawable/spyhunt_icon"
        android:label="@string/app_name"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.SpyHunt">

        <!-- RayNeo glasses app selector marker. -->
        <meta-data
            android:name="com.rayneo.mercury.app"
            android:value="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:screenOrientation="landscape"
            android:resizeableActivity="false"
            android:windowSoftInputMode="adjustNothing"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|uiMode|density|smallestScreenSize"
            android:theme="@style/Theme.SpyHunt">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- RayNeo app selector category. -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="com.rayneo.intent.category.AR_APP" />
            </intent-filter>
        </activity>
    </application>

</manifest>
